body {
    font-family: 'Brush Script MT';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: 2s ease-in;
    background-image: url('background.jpg');
    
}

.container {
    text-align: left;
    background: #ffffff2c;
    padding: 5%;
    border-radius: calc(1vw + 1vh);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    transition: color 2s ease, background 2s;
    backdrop-filter: blur(5px);

}

.container:hover {
    background: #ffffff4d;
}

input {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 200px;
    outline: none;

}

button {
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#weather-info {
    margin-top: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}

#weather-info p {
    margin: 10px 0;
    text-align: center;
}

#div2 {
    width: 150px;
    height: 150px;
    top: 7%;
    position: absolute;
    border: none;
    display: none;
}

#rain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;

}

.raindrop {
    position: absolute;
    width: 3px;
    height: 10px;
    background: #cccccc;
    animation: fall linear infinite;
    opacity: 0.5;
}

@keyframes fall {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(1000px);
    }
}

