body {
    font-family: 'Brush Script MT';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: 2s ease-in;
    background-image: url('background.jpg');
    

}


.container {
    text-align: left;
    background: #ffffff10;
    padding: 5%;
    border-radius: calc(1vw + 1vh);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    transition: color 2s ease, background 2s;

}

.container:hover {
    background: #ffffff36;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weather-info {
    margin-top: 20px;
    font-family: 'Brush Script MT';
}

#weather-info p {
    margin: 5px 0;
}

#div1 {
    width: var(--size);
    height: var(--size);
    top: 10%;
    position: absolute;
    transition: background-color 2s ease-in-out;
    animation-name: myBounce;
    animation-duration: 2s;
    animation-direction: reverse;
    transition: opacity 2s;
}
#div1:hover {
    opacity: 20%;
}
@keyframes myBounce {
    0%   {top:10%;}
    50%  {top:20%;}
    100% {top:10%;}
}

#rain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;

}

.raindrop {
    position: absolute;
    width: 3px;
    height: 10px;
    background: #cccccc;
    animation: fall linear infinite;
    opacity: 0.5;
}

@keyframes fall {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}


